body {
    background-color: lightblue;
    margin: 0;
}

#ticker {
    position: relative;
    border: 4px dotted chocolate;
    height: 1.5em;
    overflow: hidden;
}

#headlines {
    position: absolute;
    left: 10%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px dashed tomato;
}

#headlines a {
    padding-right: 30px;
}

#headlines:hover {
    color: blue;
    left: offsetLeft;
}
