* {
    font-family: Arial, Helvetica, sans-serif;
    color: #d05353;
}

body {
    background-color: #fefefe;
}

.spacer {
    height: 50px;
}

.spacer2 {
    height: 20px;
}

a {
    color: white;
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #fefefe;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #191919;
    margin: 100px 0px px 0px;
    font-family: "Work Sans", sans-serif;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 0.9;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

h1:hover {
    color: #d05353;
}
h3 {
    margin: 5px 5px 5px 10px;
}
.selected h3 {
    color: #fefefe;
}

h3:hover {
    color: #fefefe;
}
.subtitle {
    color: #d05353;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
}

.projects-container {
    background-color: #e1e6e2;
    color: white;
    margin: 20px;
    display: flex;
    width: 50vw;
}

.projects-container:hover a {
    background-color: #cc5b5b;
    color: #fefefe;
}
.projects-container:hover p {
    background-color: #cc5b5b;
    color: #fefefe;
}

.projects-container:hover {
    background-color: #cc5b5b;
    color: #e1e6e2;
}

.text-container {
    margin: px;
}

.thumbnail {
    width: 200px;

    margin: 15px;
}

p {
    margin: 10px;
}

.launch_button {
    background-color: #cc5b5b;
    color: #fefefe;
    padding: 5px 10px 5px 10px;
    margin: 20px;
}

.project_info {
    color: black;
    width: 60vw;
}

.hero {
    align-self: center;
    width: 70%;
}

.selected {
    color: #fefefe;
    background-color: #cc5b5b;
}

.footer {
    font-weight: 200;
    letter-spacing: 0.5em;
    font-size: 0.55em;
}
