body {
    font-family: monospace;
    font-size: 15px;
    line-height: 1.5;
}

.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.country {
    box-shadow: 0 4px 8px 0 rgba(255, 105, 180, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    flex: 0 0 25%;
    margin: 6px;
}

.country:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 105, 180, 0.2);
}

.country img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.country .container {
    padding: 2px 16px;
}

.borders {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.borders li {
    list-style: none;
    background-color: hotpink;
    color: #fff;
    padding: 0 8px;
    text-align: center;
    margin: 2px;
}

.currencies {
    padding: 0;
}
