* {
    margin: 0px;
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: #aac1f6;
    height: 70px;
}

main {
    background-color: #92d4cd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.img {
    align-self: center;
    height: auto;
    width: auto;
}

footer {
    background-color: #aee1eb;
    height: 30px;
}
