body {
    background: #ded0ad;
    height: 100vh;
    overflow: hidden;
}

canvas {
    display: inline-block;
    border: 2px solid black;
    background-color: white;
}

#small-canvas {
    visibility: hidden;
}

img {
    visibility: none;
    position: relative;
    float: right;
}
