<div class="project_info">

<div class="center">
    <img class="hero" src="/{{selectedProject.path}}/screenshot.jpg" alt="screenshot">
</div>
<div class="center">
    <h1>{{selectedProject.title}}</h1>

</div>
<div class="center">
<p>{{selectedProject.subline}}</p>
</div>


{{selectedProject.description}}
</div>