<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Handlebars Portfolio</title>
</head>
<body>
    <header> MY Awesome website</header>

    {{{body}}}

<footer>Copyright: Marian Heidbreder 2020</footer>
</body>
</html>