<div class="spacer"></div>
<div class="center">

    <h1>Marian's <br>
     CUTTING EDGE</br>
    PORTFOLIO</h1>

    <p class="subtitle">Don't cut yourself on the sharp edges.</p>
    <div class="spacer2"></div>
    {{>project_list subline=true image=true}}

</div>
