* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: aliceblue;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 900;
    font-kerning: 0.7em;
}
