
    <h2> This is the HOME PAGE!!</h2>
    <p> Hello {{cohort}}</p>
    <h3>Who is your favorite teachers?</h3>
    <ul>
    {{#teachers}}
        <li>
            {{name}}
            <button>{{name}}'s button</button>
        </li>

    {{/teachers}}

    </ul>
